* {
margin:0;
padding:0;
family-font: monospace;
}

.container{
display: grid;
grid-template-columns:repeat(5, 20%);
grid-template-rows:minmax(100px 100%);
}

.item{
grid-area: 1 / 1 / 5 / 5;
border: 1px solid dotted;
}

